
{% if cat == 'STUDENT' %}
  {% include 'includes/student_fields.html' %}
{% endif %}
{% if cat == 'LECTURER' %}
  {% include 'includes/lecturer_fields.html' %}
{% endif %}
{% if cat == 'COLLEGE COUNCIL' %}
  {% include 'includes/col_council_fields.html' %}
{% endif %}
{% if cat == 'ACADEMIC COUNCIL' %}
  {% include 'includes/acad_council_fields.html' %}
{% endif %}
{% if cat == 'SCHOOL COUNCIL' %}
  {% include 'includes/skl_council_fields.html' %}
{% endif %}
{% if cat == 'DEPARTMENT COUNCIL' %}
  {% include 'includes/dep_council_fields.html' %}
{% endif %}

  <script>
    $('#id_school').change(function() {
        let depart_url = $('#user').data('urldepartments');
        let skl_select = $(this).val();
        console.log(skl_select);
        $.ajax({
        url: depart_url,
        data: {
            school: skl_select
        },
        success: function(response) {
            $('#id_department').html(response)
        }
        })
    });
    $('#id_department').change(function() {
        let level_url = $('#user').data('urllevels');
        let depart_select = $(this).val();
        console.log(depart_select);
        $.ajax({
        url: level_url,
        data: {
            department: depart_select
        },
        success: function(response) {
            $('#id_level').html(response)
        }
        })
    });
  </script>

