{% extends 'base.html' %}

{% block body %}
  
<div class="jumbotron" >
  <form method="POST">
   Users:
     <select name='users' >
            <option value=''>----------------</option>
        {% for user in users %}
            <option value=''>{{user.username}}</option>
        {% endfor %}
     </select><br><br>
  Schools:
     <select name='sname' id="scl">
            <option value=''>----------------</option>
        {% for school in schools %}
            <option value='{{school.pk}}'>{{school.name}}</a></option>
        
        {% endfor %}
            <option value="index.html">dddddd</option>
     </select><br><br>
     
  Departments:
     <select name='users' >
            <option value='' >----------------</option>
        {% for department in school.departments.all %}
            <option value=''>{{department.name}}</option>
        {% endfor %}
     </select><br><br>
    
  Levels:
     <select name='users'>
            <option value=''>----------------</option>
        {% for level in levels %}
            <option value=''>{{level.name}}</option>
        {% endfor %}
     </select>        
  </form>
</div> 
<br>
    
{% endblock %}
{% block script %}
<script type="text/javascript">
 var urlmenu = document.getElementById( 'scl' );
 urlmenu.onchange = function() {
      window.open( this.options[ this.selectedIndex ].value );
 };
</script>
{% endblock %}

